<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morefit">

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".database.ContentApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_frame_3"
        android:label="MoreFit"
        android:roundIcon="@drawable/ic_frame_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoreFit"
        android:usesCleartextTraffic="true">

        <receiver android:name=".broadcastReceiver.MyBroadcastReceiver" />

        <activity
            android:name=".ui.fragment.dash.analysis.AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RepCounterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MlActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"/>
        <activity android:name=".ui.activity.ProfileActivity" />
        <activity
            android:name=".ui.activity.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>