<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morefit">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoreFit">
        <activity
            android:name=".MlActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MlActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".object.PoseDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>